In [7]:
%sql mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes

### Retrieve all records related to the agent named "Rania"

In [13]:

%%sql
select * from Salla_Data Where Agent_Name='Rania';

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[('Project A', datetime.date(2022, 2, 3), '22-Feb', 13209, 8450, 8436, 8432, 14, 1.8748221397399902, 15816, 'Rania'),
 ('Project A', datetime.date(2022, 2, 4), '22-Feb', 13002, 10883, 10614, 7376, 269, 51.20774459838867, 543519, 'Rania'),
 ('Project A', datetime.date(2022, 2, 11), '22-Feb', 13002, 8178, 8166, 8163, 12, 1.7261817455291748, 14096, 'Rania'),
 ('Project A', datetime.date(2022, 2, 16), '22-Feb', 13255, 7792, 7778, 7758, 14, 1.8454616069793701, 14354, 'Rania'),
 ('Project A', datetime.date(2022, 2, 21), '22-Feb', 11943, 7101, 7093, 7093, 8, 1.6801071166992188, 11917, 'Rania'),
 ('Project B', datetime.date(2022, 2, 1), '22-Feb', 13173, 6890, 6884, 6884, 6, 1.684340476989746, 11595, 'Rania'),
 ('Project B', datetime.date(2022, 2, 13), '22-Feb', 10209, 4809, 4806, 4785, 3, 2.1627132892608643, 10394, 'Rania'),
 ('Project B', datetime.date(2022, 2, 27), '22-Feb', 10209, 7363, 7311, 6579, 52, 13.328956604003906, 97448, 'Rania'),
 ('Project C', datetime.date(2022, 2, 5), '22-Feb', 281, 168, 168, 164, 0, 3.5357143878936768, 594, 'Rania'),
 ('Project A', datetime.date(2022, 4, 2), 'Apr-22', 12028, 6184, 6160, 6129, 24, 2.052922078, 12646, 'Rania'),
 ('Project A', datetime.date(2022, 4, 28), 'Apr-22', 12847, 9891, 9757, 8284, 134, 21.30316696, 207855, 'Rania'),
 ('Project B', datetime.date(2022, 4, 16), 'Apr-22', 11769, 4711, 4700, 4608, 11, 4.285957447, 20144, 'Rania'),
 ('Project B', datetime.date(2022, 4, 18), 'Apr-22', 13042, 5414, 5410, 5410, 4, 2.097966728, 11350, 'Rania'),
 ('Project A', datetime.date(2022, 3, 3), 'Mar-22', 12545, 13946, 13256, 5411, 690, 76.14431201, 1009369, 'Rania'),
 ('Project B', datetime.date(2022, 3, 4), 'Mar-22', 12818, 15270, 13785, 8615, 1485, 103.4519405, 1426085, 'Rania'),
 ('Project B', datetime.date(2022, 3, 28), 'Mar-22', 17370, 18046, 17926, 17727, 120, 3.085574027, 55312, 'Rania'),
 ('Project C', datetime.date(2022, 3, 6), 'Mar-22', 2825, 3047, 3035, 2997, 12, 2.844481054, 8633, 'Rania'),
 ('Project C', datetime.date(2022, 3, 13), 'Mar-22', 2825, 2118, 2109, 2088, 9, 2.890943575, 6097, 'Rania'),
 ('Project C', datetime.date(2022, 3, 18), 'Mar-22', 1989, 1529, 1518, 1435, 11, 6.450592885, 9792, 'Rania'),
 ('Project C', datetime.date(2022, 3, 25), 'Mar-22', 1989, 1759, 1743, 1659, 16, 7.091222031, 12360, 'Rania'),
 ('Project C', datetime.date(2022, 3, 27), 'Mar-22', 2825, 1989, 1984, 1972, 5, 2.549899194, 5059, 'Rania')]

### Display the number of calls offered for each day.

In [18]:
%%sql
select date,sum(calls_offered) as 'Call Ofeered' from Salla_Data
group by date order by date desc;

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[(datetime.date(2022, 4, 30), 15691),
 (datetime.date(2022, 4, 29), 15390),
 (datetime.date(2022, 4, 28), 18207),
 (datetime.date(2022, 4, 27), 19791),
 (datetime.date(2022, 4, 26), 15172),
 (datetime.date(2022, 4, 25), 15108),
 (datetime.date(2022, 4, 24), 13949),
 (datetime.date(2022, 4, 23), 11291),
 (datetime.date(2022, 4, 22), 10374),
 (datetime.date(2022, 4, 21), 12437),
 (datetime.date(2022, 4, 20), 12556),
 (datetime.date(2022, 4, 19), 12225),
 (datetime.date(2022, 4, 18), 12093),
 (datetime.date(2022, 4, 17), 11984),
 (datetime.date(2022, 4, 16), 10575),
 (datetime.date(2022, 4, 15), 10384),
 (datetime.date(2022, 4, 14), 12044),
 (datetime.date(2022, 4, 13), 12481),
 (datetime.date(2022, 4, 12), 12189),
 (datetime.date(2022, 4, 11), 13380),
 (datetime.date(2022, 4, 10), 15616),
 (datetime.date(2022, 4, 9), 13358),
 (datetime.date(2022, 4, 8), 12783),
 (datetime.date(2022, 4, 7), 20663),
 (datetime.date(2022, 4, 6), 18845),
 (datetime.date(2022, 4, 5), 19612),
 (datetime.date(2022, 4, 4), 14234),
 (datetime.date(2022, 4, 3), 13486),
 (datetime.date(2022, 4, 2), 11352),
 (datetime.date(2022, 4, 1), 15199),
 (datetime.date(2022, 3, 31), 27202),
 (datetime.date(2022, 3, 30), 27647),
 (datetime.date(2022, 3, 29), 28798),
 (datetime.date(2022, 3, 28), 28714),
 (datetime.date(2022, 3, 27), 30420),
 (datetime.date(2022, 3, 26), 22056),
 (datetime.date(2022, 3, 25), 25964),
 (datetime.date(2022, 3, 24), 43452),
 (datetime.date(2022, 3, 23), 23074),
 (datetime.date(2022, 3, 22), 22897),
 (datetime.date(2022, 3, 21), 25090),
 (datetime.date(2022, 3, 20), 24781),
 (datetime.date(2022, 3, 19), 22206),
 (datetime.date(2022, 3, 18), 21641),
 (datetime.date(2022, 3, 17), 22115),
 (datetime.date(2022, 3, 16), 23468),
 (datetime.date(2022, 3, 15), 24457),
 (datetime.date(2022, 3, 14), 24532),
 (datetime.date(2022, 3, 13), 25267),
 (datetime.date(2022, 3, 12), 26059),
 (datetime.date(2022, 3, 11), 22167),
 (datetime.date(2022, 3, 10), 30425),
 (datetime.date(2022, 3, 9), 27000),
 (datetime.date(2022, 3, 8), 29492),
 (datetime.date(2022, 3, 7), 37002),
 (datetime.date(2022, 3, 6), 40114),
 (datetime.date(2022, 3, 5), 35249),
 (datetime.date(2022, 3, 4), 29613),
 (datetime.date(2022, 3, 3), 35311),
 (datetime.date(2022, 3, 2), 37157),
 (datetime.date(2022, 3, 1), 32829),
 (datetime.date(2022, 2, 28), 16941),
 (datetime.date(2022, 2, 27), 16287),
 (datetime.date(2022, 2, 26), 24992),
 (datetime.date(2022, 2, 25), 15882),
 (datetime.date(2022, 2, 24), 17521),
 (datetime.date(2022, 2, 23), 13785),
 (datetime.date(2022, 2, 22), 14128),
 (datetime.date(2022, 2, 21), 12910),
 (datetime.date(2022, 2, 20), 12076),
 (datetime.date(2022, 2, 19), 15216),
 (datetime.date(2022, 2, 18), 13320),
 (datetime.date(2022, 2, 17), 14250),
 (datetime.date(2022, 2, 16), 14260),
 (datetime.date(2022, 2, 15), 13791),
 (datetime.date(2022, 2, 14), 11919),
 (datetime.date(2022, 2, 13), 10813),
 (datetime.date(2022, 2, 12), 13522),
 (datetime.date(2022, 2, 11), 14940),
 (datetime.date(2022, 2, 10), 17920),
 (datetime.date(2022, 2, 9), 17795),
 (datetime.date(2022, 2, 8), 20203),
 (datetime.date(2022, 2, 7), 22320),
 (datetime.date(2022, 2, 6), 20580),
 (datetime.date(2022, 2, 5), 20733),
 (datetime.date(2022, 2, 4), 19880),
 (datetime.date(2022, 2, 3), 15376),
 (datetime.date(2022, 2, 2), 9473),
 (datetime.date(2022, 2, 1), 15384)]

### List all unique agent names.

In [19]:
%%sql
select distinct agent_name from salla_data;

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[('Ahmed',),
 ('Ali',),
 ('Dina',),
 ('Fatma',),
 ('Hassan',),
 ('Huda',),
 ('Khaled',),
 ('Laila',),
 ('Mona',),
 ('Nour',),
 ('Omar',),
 ('Rania',),
 ('Samir',),
 ('Sara',),
 ('Tariq',),
 ('Youssef',)]

### Calculate the average ASA (Average Speed of Answer)

In [20]:
%%sql
select AVG(asa) as 'average ASA' from salla_data;

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[(9.220928510736472,)]

### Sort the data by the number of abandoned calls in descending order.

In [21]:
%%sql
select * from salla_data order by calls_abandon desc;

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[('Project B', datetime.date(2022, 3, 5), 'Mar-22', 15654, 17965, 14864, 5868, 3101, 180.9033907, 2688948, 'Huda'),
 ('Project B', datetime.date(2022, 3, 6), 'Mar-22', 17684, 21739, 19805, 11749, 1934, 89.53850038, 1773310, 'Dina'),
 ('Project B', datetime.date(2022, 3, 4), 'Mar-22', 12818, 15270, 13785, 8615, 1485, 103.4519405, 1426085, 'Rania'),
 ('Project B', datetime.date(2022, 3, 3), 'Mar-22', 16064, 18290, 16900, 6847, 1390, 79.14159763, 1337493, 'Youssef'),
 ('Project B', datetime.date(2022, 3, 2), 'Mar-22', 16778, 19001, 17785, 10398, 1216, 68.29080686, 1214552, 'Fatma'),
 ('Project A', datetime.date(2022, 3, 5), 'Mar-22', 12209, 14504, 13476, 6228, 1028, 102.7876224, 1385166, 'Youssef'),
 ('Project A', datetime.date(2022, 3, 4), 'Mar-22', 9970, 11663, 10884, 7211, 779, 92.36052922, 1005252, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 24), 'Mar-22', 16064, 30381, 29630, 22741, 751, 25.40988863, 752895, 'Dina'),
 ('Project A', datetime.date(2022, 3, 3), 'Mar-22', 12545, 13946, 13256, 5411, 690, 76.14431201, 1009369, 'Rania'),
 ('Project A', datetime.date(2022, 3, 6), 'Mar-22', 13843, 15328, 14652, 9230, 676, 67.76262626, 992858, 'Huda'),
 ('Project A', datetime.date(2022, 3, 2), 'Mar-22', 13134, 14735, 14092, 7895, 643, 65.1659807, 918319, 'Dina'),
 ('Project B', datetime.date(2022, 3, 10), 'Mar-22', 16064, 17374, 16909, 15521, 465, 27.29167899, 461475, 'Nour'),
 ('Project A', datetime.date(2022, 2, 26), '22-Feb', 12758, 13437, 12994, 7440, 443, 49.68308639526367, 645582, 'Dina'),
 ('Project B', datetime.date(2022, 2, 26), '22-Feb', 12477, 11418, 11046, 6252, 372, 50.335052490234375, 556001, 'Dina'),
 ('Project B', datetime.date(2022, 3, 1), 'Mar-22', 17117, 18438, 18071, 14792, 367, 16.39245199, 296228, 'Huda'),
 ('Project A', datetime.date(2022, 2, 4), '22-Feb', 13002, 10883, 10614, 7376, 269, 51.20774459838867, 543519, 'Rania'),
 ('Project A', datetime.date(2022, 4, 7), 'Apr-22', 12847, 11176, 10939, 9383, 237, 36.48157967, 399072, 'Omar'),
 ('Project B', datetime.date(2022, 3, 7), 'Mar-22', 17370, 17701, 17475, 16504, 226, 7.083891273, 123791, 'Khaled'),
 ('Project B', datetime.date(2022, 2, 4), '22-Feb', 12718, 8843, 8635, 5974, 208, 51.92182922363281, 448345, 'Fatma'),
 ('Project B', datetime.date(2022, 4, 7), 'Apr-22', 12559, 9319, 9130, 7802, 189, 37.52015334, 342559, 'Tariq'),
 ('Project A', datetime.date(2022, 3, 24), 'Mar-22', 12545, 10378, 10197, 8564, 181, 18.47298225, 188369, 'Dina'),
 ('Project A', datetime.date(2022, 4, 27), 'Apr-22', 13093, 10756, 10579, 9435, 177, 21.48605728, 227301, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 9), 'Mar-22', 16778, 15106, 14952, 14350, 154, 5.191546281, 77624, 'Ali'),
 ('Project A', datetime.date(2022, 3, 1), 'Mar-22', 13389, 11747, 11596, 9291, 151, 17.83088996, 206767, 'Samir'),
 ('Project B', datetime.date(2022, 3, 8), 'Mar-22', 17117, 16261, 16118, 15893, 143, 3.337634942, 53796, 'Ali'),
 ('Project B', datetime.date(2022, 3, 27), 'Mar-22', 17685, 18343, 18200, 17873, 143, 5.091923077, 92673, 'Khaled'),
 ('Project B', datetime.date(2022, 3, 11), 'Mar-22', 12818, 13395, 13260, 12637, 135, 6.404524887, 84924, 'Mona'),
 ('Project B', datetime.date(2022, 4, 27), 'Apr-22', 12802, 8869, 8734, 7807, 135, 21.11564003, 184424, 'Mona'),
 ('Project A', datetime.date(2022, 4, 28), 'Apr-22', 12847, 9891, 9757, 8284, 134, 21.30316696, 207855, 'Rania'),
 ('Project A', datetime.date(2022, 4, 29), 'Apr-22', 10496, 8428, 8294, 6923, 134, 26.35254401, 218568, 'Hassan'),
 ('Project A', datetime.date(2022, 3, 10), 'Mar-22', 12545, 10402, 10275, 9585, 127, 17.3426764, 178196, 'Khaled'),
 ('Project B', datetime.date(2022, 3, 28), 'Mar-22', 17370, 18046, 17926, 17727, 120, 3.085574027, 55312, 'Rania'),
 ('Project B', datetime.date(2022, 3, 17), 'Mar-22', 16064, 13611, 13494, 13462, 117, 2.040091893, 27529, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 18), 'Mar-22', 12818, 14427, 14319, 14155, 108, 2.430057965, 34796, 'Hassan'),
 ('Project B', datetime.date(2022, 3, 20), 'Mar-22', 17685, 15677, 15573, 15556, 104, 1.966544661, 30625, 'Mona'),
 ('Project B', datetime.date(2022, 4, 29), 'Apr-22', 10277, 6825, 6722, 5582, 103, 26.98348706, 181383, 'Ahmed'),
 ('Project B', datetime.date(2022, 4, 28), 'Apr-22', 12559, 8167, 8066, 6859, 101, 21.195636, 170964, 'Ahmed'),
 ('Project A', datetime.date(2022, 3, 7), 'Mar-22', 13585, 16324, 16223, 15445, 101, 6.535474327, 106025, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 19), 'Mar-22', 15655, 14008, 13908, 13880, 100, 1.849439172, 25722, 'Samir'),
 ('Project B', datetime.date(2022, 3, 13), 'Mar-22', 17685, 14825, 14725, 14702, 100, 1.933378608, 28469, 'Sara'),
 ('Project B', datetime.date(2022, 3, 16), 'Mar-22', 16778, 14304, 14211, 14204, 93, 1.893392442, 26907, 'Ali'),
 ('Project B', datetime.date(2022, 3, 22), 'Mar-22', 17117, 14294, 14202, 14190, 92, 2.022461625, 28723, 'Laila'),
 ('Project B', datetime.date(2022, 3, 25), 'Mar-22', 12818, 15592, 15501, 15358, 91, 2.478743307, 38423, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 30), 'Mar-22', 16778, 16005, 15914, 15904, 91, 1.78886515, 28468, 'Mona'),
 ('Project B', datetime.date(2022, 3, 31), 'Mar-22', 16064, 16001, 15910, 15907, 91, 1.959773727, 31180, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 21), 'Mar-22', 17370, 16320, 16229, 16177, 91, 2.108694313, 34222, 'Mona'),
 ('Project B', datetime.date(2022, 3, 14), 'Mar-22', 17370, 14415, 14326, 14326, 89, 1.767974312, 25328, 'Hassan'),
 ('Project B', datetime.date(2022, 3, 26), 'Mar-22', 15655, 13821, 13732, 13716, 89, 1.88952811, 25947, 'Huda'),
 ('Project B', datetime.date(2022, 3, 12), 'Mar-22', 15655, 15160, 15072, 15006, 88, 2.120886412, 31966, 'Omar'),
 ('Project B', datetime.date(2022, 3, 29), 'Mar-22', 17117, 17228, 17142, 17102, 86, 2.128398087, 36485, 'Dina'),
 ('Project B', datetime.date(2022, 3, 15), 'Mar-22', 17117, 14483, 14398, 14387, 85, 1.936727323, 27885, 'Ali'),
 ('Project B', datetime.date(2022, 3, 23), 'Mar-22', 16778, 14484, 14402, 14379, 82, 1.989307041, 28650, 'Fatma'),
 ('Project A', datetime.date(2022, 2, 27), '22-Feb', 10422, 8794, 8723, 7837, 71, 13.528946876525879, 118013, 'Huda'),
 ('Project A', datetime.date(2022, 4, 5), 'Apr-22', 13300, 10632, 10570, 9629, 62, 11.6897824, 123561, 'Ali'),
 ('Project A', datetime.date(2022, 2, 6), '22-Feb', 10422, 11324, 11266, 10789, 58, 8.042695045471191, 90609, 'Dina'),
 ('Project A', datetime.date(2022, 3, 27), 'Mar-22', 13841, 10088, 10032, 9874, 56, 4.860745614, 48763, 'Huda'),
 ('Project C', datetime.date(2022, 3, 4), 'Mar-22', 1989, 2680, 2625, 2269, 55, 19.25866667, 50554, 'Omar'),
 ('Project A', datetime.date(2022, 2, 5), '22-Feb', 12758, 11445, 11393, 11027, 52, 7.235232353210449, 82431, 'Ahmed'),
 ('Project B', datetime.date(2022, 2, 27), '22-Feb', 10209, 7363, 7311, 6579, 52, 13.328956604003906, 97448, 'Rania'),
 ('Project A', datetime.date(2022, 4, 9), 'Apr-22', 12028, 7233, 7185, 7015, 48, 5.728322895, 41158, 'Dina'),
 ('Project A', datetime.date(2022, 4, 21), 'Apr-22', 12847, 6713, 6666, 6202, 47, 10.09765977, 67311, 'Youssef'),
 ('Project A', datetime.date(2022, 4, 6), 'Apr-22', 13093, 10227, 10180, 9543, 47, 10.93732809, 111342, 'Youssef'),
 ('Project A', datetime.date(2022, 3, 8), 'Mar-22', 13389, 10822, 10775, 10647, 47, 3.315638051, 35726, 'Mona'),
 ('Project B', datetime.date(2022, 4, 5), 'Apr-22', 13006, 8792, 8746, 7977, 46, 11.62737251, 101693, 'Khaled'),
 ('Project A', datetime.date(2022, 3, 11), 'Mar-22', 9970, 6966, 6922, 6577, 44, 6.938746027, 48030, 'Khaled'),
 ('Project A', datetime.date(2022, 2, 19), '22-Feb', 12758, 8307, 8264, 7705, 43, 6.804695129394531, 56234, 'Ali'),
 ('Project A', datetime.date(2022, 3, 9), 'Mar-22', 13134, 9565, 9523, 9269, 42, 4.059330043, 38657, 'Khaled'),
 ('Project C', datetime.date(2022, 3, 3), 'Mar-22', 2674, 3075, 3033, 2839, 42, 10.71513353, 32499, 'Ahmed'),
 ('Project B', datetime.date(2022, 4, 21), 'Apr-22', 12559, 5611, 5571, 5180, 40, 10.07467241, 56126, 'Samir'),
 ('Project B', datetime.date(2022, 2, 5), '22-Feb', 12477, 9120, 9081, 8788, 39, 7.309547424316406, 66378, 'Samir'),
 ('Project B', datetime.date(2022, 2, 6), '22-Feb', 10209, 9097, 9059, 8691, 38, 7.833867073059082, 70967, 'Omar'),
 ('Project A', datetime.date(2022, 3, 28), 'Mar-22', 13585, 8739, 8701, 8650, 38, 2.569359844, 22356, 'Tariq'),
 ('Project A', datetime.date(2022, 3, 29), 'Mar-22', 13389, 9200, 9164, 9156, 36, 1.997490179, 18305, 'Fatma'),
 ('Project C', datetime.date(2022, 3, 10), 'Mar-22', 2674, 2649, 2613, 2406, 36, 10.9177191, 28528, 'Sara'),
 ('Project C', datetime.date(2022, 3, 5), 'Mar-22', 2297, 2780, 2746, 2399, 34, 12.26729789, 33686, 'Ahmed'),
 ('Project C', datetime.date(2022, 3, 2), 'Mar-22', 2711, 3421, 3387, 3081, 34, 11.65839976, 39487, 'Huda'),
 ('Project B', datetime.date(2022, 4, 6), 'Apr-22', 12802, 8467, 8433, 7880, 34, 11.37495553, 95925, 'Samir'),
 ('Project A', datetime.date(2022, 3, 25), 'Mar-22', 9970, 8613, 8582, 8504, 31, 2.486949429, 21343, 'Ali'),
 ('Project A', datetime.date(2022, 3, 26), 'Mar-22', 12209, 6648, 6617, 6613, 31, 1.819253438, 12038, 'Mona'),
 ('Project A', datetime.date(2022, 3, 15), 'Mar-22', 13389, 7914, 7883, 7883, 31, 1.869085374, 14734, 'Sara'),
 ('Project A', datetime.date(2022, 3, 16), 'Mar-22', 13134, 7166, 7135, 7132, 31, 1.869796776, 13341, 'Huda'),
 ('Project A', datetime.date(2022, 3, 21), 'Mar-22', 13585, 6992, 6963, 6958, 29, 1.876490019, 13066, 'Tariq'),
 ('Project A', datetime.date(2022, 3, 31), 'Mar-22', 12545, 8901, 8872, 8871, 29, 1.911632101, 16960, 'Huda'),
 ('Project C', datetime.date(2022, 3, 7), 'Mar-22', 2799, 2977, 2948, 2756, 29, 6.822591588, 20113, 'Ali'),
 ('Project A', datetime.date(2022, 4, 3), 'Apr-22', 13569, 7339, 7310, 7271, 29, 2.451436389, 17920, 'Omar'),
 ('Project A', datetime.date(2022, 4, 8), 'Apr-22', 10496, 6980, 6951, 6664, 29, 6.500503525, 45185, 'Sara'),
 ('Project A', datetime.date(2022, 3, 30), 'Mar-22', 13134, 9099, 9071, 9068, 28, 1.750192923, 15876, 'Ali'),
 ('Project A', datetime.date(2022, 3, 20), 'Mar-22', 13841, 7325, 7297, 7289, 28, 1.949294231, 14224, 'Samir'),
 ('Project A', datetime.date(2022, 3, 12), 'Mar-22', 12209, 8046, 8019, 7983, 27, 2.127447313, 17060, 'Huda'),
 ('Project A', datetime.date(2022, 3, 22), 'Mar-22', 13389, 6923, 6897, 6897, 26, 1.937509062, 13363, 'Hassan'),
 ('Project A', datetime.date(2022, 3, 17), 'Mar-22', 12545, 6641, 6615, 6600, 26, 2.020861678, 13368, 'Fatma'),
 ('Project A', datetime.date(2022, 3, 18), 'Mar-22', 9970, 5685, 5659, 5637, 26, 1.953171939, 11053, 'Laila'),
 ('Project A', datetime.date(2022, 4, 1), 'Apr-22', 10496, 8358, 8332, 8329, 26, 1.761761882, 14679, 'Huda'),
 ('Project A', datetime.date(2022, 4, 2), 'Apr-22', 12028, 6184, 6160, 6129, 24, 2.052922078, 12646, 'Rania'),
 ('Project A', datetime.date(2022, 2, 7), '22-Feb', 11943, 12155, 12131, 11945, 24, 2.794740676879883, 33903, 'Fatma'),
 ('Project B', datetime.date(2022, 2, 19), '22-Feb', 12477, 6753, 6729, 6291, 24, 6.692821979522705, 45036, 'Omar'),
 ('Project A', datetime.date(2022, 2, 28), '22-Feb', 11943, 9196, 9173, 9030, 23, 2.9255423545837402, 26836, 'Tariq'),
 ('Project C', datetime.date(2022, 3, 8), 'Mar-22', 2771, 2409, 2386, 2237, 23, 8.553227158, 20408, 'Ahmed'),
 ('Project C', datetime.date(2022, 3, 12), 'Mar-22', 2297, 2853, 2831, 2602, 22, 10.1112681, 28625, 'Nour'),
 ('Project C', datetime.date(2022, 3, 1), 'Mar-22', 2771, 2644, 2622, 2469, 22, 6.165141114, 16165, 'Sara'),
 ('Project A', datetime.date(2022, 3, 13), 'Mar-22', 13841, 8324, 8303, 8280, 21, 2.004094905, 16640, 'Sara'),
 ('Project C', datetime.date(2022, 4, 9), 'Apr-22', 259, 142, 121, 105, 21, 36.91735537, 4467, 'Fatma'),
 ('Project B', datetime.date(2022, 4, 3), 'Apr-22', 13261, 6022, 6001, 5971, 21, 2.490584903, 14946, 'Youssef'),
 ('Project A', datetime.date(2022, 2, 8), '22-Feb', 13473, 11064, 11044, 10881, 20, 2.8806591033935547, 31814, 'Huda'),
 ('Project A', datetime.date(2022, 3, 14), 'Mar-22', 13585, 7904, 7884, 7884, 20, 1.758371385, 13863, 'Laila'),
 ('Project A', datetime.date(2022, 3, 23), 'Mar-22', 13134, 6788, 6768, 6765, 20, 1.88105792, 12731, 'Ali'),
 ('Project C', datetime.date(2022, 3, 9), 'Mar-22', 2710, 2329, 2309, 2241, 20, 4.335643136, 10011, 'Nour'),
 ('Project C', datetime.date(2022, 3, 24), 'Mar-22', 2674, 2693, 2674, 2646, 19, 2.901271503, 7758, 'Huda'),
 ('Project B', datetime.date(2022, 4, 9), 'Apr-22', 11769, 5983, 5965, 5839, 18, 5.121374686, 30549, 'Samir'),
 ('Project B', datetime.date(2022, 4, 1), 'Apr-22', 10277, 6707, 6689, 6689, 18, 1.740319928, 11641, 'Tariq'),
 ('Project A', datetime.date(2022, 4, 16), 'Apr-22', 12028, 5736, 5718, 5603, 18, 4.265827212, 24392, 'Omar'),
 ('Project A', datetime.date(2022, 4, 14), 'Apr-22', 12847, 6552, 6535, 6454, 17, 3.086151492, 20168, 'Sara'),
 ('Project A', datetime.date(2022, 3, 19), 'Mar-22', 12209, 6476, 6459, 6452, 17, 1.797646695, 11611, 'Khaled'),
 ('Project C', datetime.date(2022, 3, 25), 'Mar-22', 1989, 1759, 1743, 1659, 16, 7.091222031, 12360, 'Rania'),
 ('Project A', datetime.date(2022, 4, 30), 'Apr-22', 12028, 8592, 8576, 8443, 16, 3.0859375, 26465, 'Ahmed'),
 ('Project A', datetime.date(2022, 4, 26), 'Apr-22', 13300, 8236, 8220, 8093, 16, 3.068004866, 25219, 'Dina'),
 ('Project A', datetime.date(2022, 4, 25), 'Apr-22', 13349, 8179, 8164, 8144, 15, 1.973052425, 16108, 'Khaled'),
 ('Project C', datetime.date(2022, 3, 29), 'Mar-22', 2771, 2370, 2355, 2341, 15, 2.133757962, 5025, 'Samir'),
 ('Project C', datetime.date(2022, 3, 14), 'Mar-22', 2798, 2213, 2198, 2172, 15, 2.716105551, 5970, 'Mona'),
 ('Project C', datetime.date(2022, 3, 17), 'Mar-22', 2674, 1863, 1849, 1819, 14, 2.980530016, 5511, 'Samir'),
 ('Project A', datetime.date(2022, 2, 3), '22-Feb', 13209, 8450, 8436, 8432, 14, 1.8748221397399902, 15816, 'Rania'),
 ('Project A', datetime.date(2022, 2, 12), '22-Feb', 12758, 7393, 7379, 7377, 14, 1.7048380374908447, 12580, 'Samir'),
 ('Project A', datetime.date(2022, 2, 16), '22-Feb', 13255, 7792, 7778, 7758, 14, 1.8454616069793701, 14354, 'Rania'),
 ('Project B', datetime.date(2022, 2, 28), '22-Feb', 11691, 7599, 7585, 7464, 14, 2.9637441635131836, 22480, 'Samir'),
 ('Project A', datetime.date(2022, 2, 15), '22-Feb', 13473, 7562, 7549, 7546, 13, 1.7279109954833984, 13044, 'Samir'),
 ('Project A', datetime.date(2022, 2, 22), '22-Feb', 13473, 7697, 7684, 7684, 13, 1.679724097251892, 12907, 'Samir'),
 ('Project B', datetime.date(2022, 2, 7), '22-Feb', 11691, 10002, 9989, 9845, 13, 2.746220827102661, 27432, 'Samir'),
 ('Project B', datetime.date(2022, 4, 2), 'Apr-22', 11769, 5084, 5071, 5050, 13, 1.930782883, 9791, 'Laila'),
 ('Project A', datetime.date(2022, 4, 10), 'Apr-22', 13569, 8505, 8492, 8371, 13, 3.653674046, 31027, 'Sara'),
 ('Project C', datetime.date(2022, 4, 7), 'Apr-22', 288, 168, 155, 134, 13, 15.01935484, 2328, 'Fatma'),
 ('Project C', datetime.date(2022, 3, 6), 'Mar-22', 2825, 3047, 3035, 2997, 12, 2.844481054, 8633, 'Rania'),
 ('Project A', datetime.date(2022, 4, 11), 'Apr-22', 13349, 7263, 7251, 7163, 12, 3.303130603, 23951, 'Ali'),
 ('Project C', datetime.date(2022, 2, 26), '22-Feb', 281, 137, 125, 85, 12, 35.63199996948242, 4454, 'Omar'),
 ('Project A', datetime.date(2022, 2, 11), '22-Feb', 13002, 8178, 8166, 8163, 12, 1.7261817455291748, 14096, 'Rania'),
 ('Project A', datetime.date(2022, 2, 9), '22-Feb', 13255, 9729, 9717, 9717, 12, 1.6841617822647095, 16365, 'Youssef'),
 ('Project A', datetime.date(2022, 2, 1), '22-Feb', 13473, 8393, 8381, 8380, 12, 1.6891778707504272, 14157, 'Ali'),
 ('Project B', datetime.date(2022, 2, 8), '22-Feb', 13173, 8953, 8942, 8809, 11, 2.875978469848633, 25717, 'Khaled'),
 ('Project A', datetime.date(2022, 2, 25), '22-Feb', 13002, 8658, 8647, 8629, 11, 1.790678858757019, 15484, 'Mona'),
 ('Project A', datetime.date(2022, 4, 4), 'Apr-22', 13349, 7770, 7759, 7666, 11, 2.938394123, 22799, 'Hassan'),
 ('Project A', datetime.date(2022, 4, 13), 'Apr-22', 13093, 6781, 6770, 6697, 11, 3.181240768, 21537, 'Khaled'),
 ('Project A', datetime.date(2022, 4, 20), 'Apr-22', 13093, 6787, 6776, 6769, 11, 1.972697757, 13367, 'Samir'),
 ('Project B', datetime.date(2022, 4, 8), 'Apr-22', 10277, 5687, 5676, 5469, 11, 5.749647639, 32635, 'Khaled'),
 ('Project B', datetime.date(2022, 4, 16), 'Apr-22', 11769, 4711, 4700, 4608, 11, 4.285957447, 20144, 'Rania'),
 ('Project B', datetime.date(2022, 4, 25), 'Apr-22', 13042, 6816, 6805, 6788, 11, 1.977957384, 13460, 'Khaled'),
 ('Project B', datetime.date(2022, 4, 26), 'Apr-22', 13006, 6772, 6761, 6656, 11, 3.098358231, 20948, 'Fatma'),
 ('Project C', datetime.date(2022, 3, 18), 'Mar-22', 1989, 1529, 1518, 1435, 11, 6.450592885, 9792, 'Rania'),
 ('Project C', datetime.date(2022, 3, 31), 'Mar-22', 2674, 2300, 2290, 2251, 10, 3.225327511, 7386, 'Nour'),
 ('Project C', datetime.date(2022, 4, 8), 'Apr-22', 219, 116, 106, 82, 10, 32.16037736, 3409, 'Huda'),
 ('Project A', datetime.date(2022, 2, 2), '22-Feb', 13255, 5144, 5134, 5096, 10, 2.3371639251708984, 11999, 'Samir'),
 ('Project A', datetime.date(2022, 2, 10), '22-Feb', 13208, 9832, 9822, 9818, 10, 1.7204235792160034, 16898, 'Sara'),
 ('Project A', datetime.date(2022, 2, 14), '22-Feb', 11943, 6506, 6496, 6496, 10, 1.6827278137207031, 10931, 'Omar'),
 ('Project A', datetime.date(2022, 2, 20), '22-Feb', 10422, 6601, 6592, 6570, 9, 1.9983313083648682, 13173, 'Nour'),
 ('Project B', datetime.date(2022, 4, 14), 'Apr-22', 12559, 5361, 5352, 5287, 9, 3.156576981, 16894, 'Sara'),
 ('Project B', datetime.date(2022, 4, 20), 'Apr-22', 12802, 5635, 5626, 5621, 9, 2.004976893, 11280, 'Omar'),
 ('Project B', datetime.date(2022, 4, 30), 'Apr-22', 11769, 6999, 6990, 6892, 9, 2.992560801, 20918, 'Ahmed'),
 ('Project C', datetime.date(2022, 3, 30), 'Mar-22', 2710, 2543, 2534, 2510, 9, 2.550907656, 6464, 'Nour'),
 ('Project C', datetime.date(2022, 3, 21), 'Mar-22', 2798, 1778, 1769, 1761, 9, 2.274731487, 4024, 'Hassan'),
 ('Project C', datetime.date(2022, 3, 15), 'Mar-22', 2771, 2060, 2051, 2035, 9, 2.520721599, 5170, 'Omar'),
 ('Project C', datetime.date(2022, 3, 13), 'Mar-22', 2825, 2118, 2109, 2088, 9, 2.890943575, 6097, 'Rania'),
 ('Project C', datetime.date(2022, 3, 19), 'Mar-22', 2297, 1722, 1714, 1645, 8, 5.270128355, 9033, 'Dina'),
 ('Project C', datetime.date(2022, 4, 27), 'Apr-22', 291, 166, 158, 145, 8, 8.411392405, 1329, 'Hassan'),
 ('Project B', datetime.date(2022, 4, 13), 'Apr-22', 12802, 5605, 5597, 5539, 8, 3.221189923, 18029, 'Fatma'),
 ('Project B', datetime.date(2022, 4, 11), 'Apr-22', 13042, 6021, 6013, 5939, 8, 3.400133045, 20445, 'Omar'),
 ('Project A', datetime.date(2022, 2, 21), '22-Feb', 11943, 7101, 7093, 7093, 8, 1.6801071166992188, 11917, 'Rania'),
 ('Project A', datetime.date(2022, 2, 13), '22-Feb', 10422, 5904, 5896, 5869, 8, 2.1852102279663086, 12884, 'Hassan'),
 ('Project B', datetime.date(2022, 2, 12), '22-Feb', 12477, 6015, 6007, 6007, 8, 1.684201717376709, 10117, 'Laila'),
 ('Project B', datetime.date(2022, 2, 3), '22-Feb', 12921, 6790, 6783, 6781, 7, 1.8776352405548096, 12736, 'Tariq'),
 ('Project C', datetime.date(2022, 2, 6), '22-Feb', 213, 159, 152, 141, 7, 11.197368621826172, 1702, 'Tariq'),
 ('Project A', datetime.date(2022, 2, 23), '22-Feb', 13255, 7516, 7509, 7509, 7, 1.693700909614563, 12718, 'Laila'),
 ('Project A', datetime.date(2022, 2, 24), '22-Feb', 13208, 9538, 9531, 9531, 7, 1.68534255027771, 16063, 'Fatma'),
 ('Project B', datetime.date(2022, 4, 4), 'Apr-22', 13042, 6333, 6326, 6245, 7, 3.092001265, 19560, 'Khaled'),
 ('Project A', datetime.date(2022, 4, 15), 'Apr-22', 10496, 5638, 5631, 5578, 7, 2.498135322, 14067, 'Dina'),
 ('Project C', datetime.date(2022, 4, 28), 'Apr-22', 288, 149, 142, 130, 7, 7.429577465, 1055, 'Tariq'),
 ('Project C', datetime.date(2022, 3, 20), 'Mar-22', 2825, 1779, 1772, 1768, 7, 1.767494357, 3132, 'Mona'),
 ('Project C', datetime.date(2022, 3, 16), 'Mar-22', 2711, 1998, 1992, 1967, 6, 2.726907631, 5432, 'Omar'),
 ('Project C', datetime.date(2022, 3, 11), 'Mar-22', 1989, 1806, 1800, 1766, 6, 4.069444444, 7325, 'Laila'),

### Calculate the total forecasted calls and total offered calls for the month of February.

In [22]:
%%sql
select sum(forecasted_calls)as'total forecasted calls',
sum(calls_offered)as'total offered calls' from salla_data where month='22-Feb';

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[(704490, 446217)]

### For each agent, calculate the call handling rate as a percentage of handled calls to offered calls.

In [24]:
%%sql
SELECT agent_name,(CAST(SUM(calls_handled) AS FLOAT) / CAST(SUM(calls_offered) AS FLOAT) * 100)AS 'the call handling rate'
FROM salla_data
GROUP BY agent_name;

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[('Ahmed', 99.46526902408279),
 ('Ali', 99.5046294748805),
 ('Dina', 97.4113977884888),
 ('Fatma', 98.2178047230867),
 ('Hassan', 99.34049462902823),
 ('Huda', 97.03495670855604),
 ('Khaled', 99.40879832725186),
 ('Laila', 99.65970753241974),
 ('Mona', 99.43367638413963),
 ('Nour', 98.43619020089608),
 ('Omar', 99.38159411295328),
 ('Rania', 98.00808036389121),
 ('Samir', 99.61747250583636),
 ('Sara', 99.60525244852003),
 ('Tariq', 98.92946944933368),
 ('Youssef', 97.2509581611846)]

### classify each day's ASA as:"Excellent" if ASA < 5"Good" if ASA is between 5 and 10 "Poor" if ASA > 10

In [25]:
%%sql
select date , case
                when asa < 5 then 'Excellent' 
				when asa between 5 and 10 then 'Good' 
				when asa >10 then 'Poor' 
				end as 'status'
				from salla_data;

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[(datetime.date(2022, 2, 1), 'Excellent'),
 (datetime.date(2022, 2, 2), 'Excellent'),
 (datetime.date(2022, 2, 3), 'Excellent'),
 (datetime.date(2022, 2, 4), 'Poor'),
 (datetime.date(2022, 2, 5), 'Good'),
 (datetime.date(2022, 2, 6), 'Good'),
 (datetime.date(2022, 2, 7), 'Excellent'),
 (datetime.date(2022, 2, 8), 'Excellent'),
 (datetime.date(2022, 2, 9), 'Excellent'),
 (datetime.date(2022, 2, 10), 'Excellent'),
 (datetime.date(2022, 2, 11), 'Excellent'),
 (datetime.date(2022, 2, 12), 'Excellent'),
 (datetime.date(2022, 2, 13), 'Excellent'),
 (datetime.date(2022, 2, 14), 'Excellent'),
 (datetime.date(2022, 2, 15), 'Excellent'),
 (datetime.date(2022, 2, 16), 'Excellent'),
 (datetime.date(2022, 2, 17), 'Excellent'),
 (datetime.date(2022, 2, 18), 'Excellent'),
 (datetime.date(2022, 2, 19), 'Good'),
 (datetime.date(2022, 2, 20), 'Excellent'),
 (datetime.date(2022, 2, 21), 'Excellent'),
 (datetime.date(2022, 2, 22), 'Excellent'),
 (datetime.date(2022, 2, 23), 'Excellent'),
 (datetime.date(2022, 2, 24), 'Excellent'),
 (datetime.date(2022, 2, 25), 'Excellent'),
 (datetime.date(2022, 2, 26), 'Poor'),
 (datetime.date(2022, 2, 27), 'Poor'),
 (datetime.date(2022, 2, 28), 'Excellent'),
 (datetime.date(2022, 2, 1), 'Excellent'),
 (datetime.date(2022, 2, 2), 'Excellent'),
 (datetime.date(2022, 2, 3), 'Excellent'),
 (datetime.date(2022, 2, 4), 'Poor'),
 (datetime.date(2022, 2, 5), 'Good'),
 (datetime.date(2022, 2, 6), 'Good'),
 (datetime.date(2022, 2, 7), 'Excellent'),
 (datetime.date(2022, 2, 8), 'Excellent'),
 (datetime.date(2022, 2, 9), 'Excellent'),
 (datetime.date(2022, 2, 10), 'Excellent'),
 (datetime.date(2022, 2, 11), 'Excellent'),
 (datetime.date(2022, 2, 12), 'Excellent'),
 (datetime.date(2022, 2, 13), 'Excellent'),
 (datetime.date(2022, 2, 14), 'Excellent'),
 (datetime.date(2022, 2, 15), 'Excellent'),
 (datetime.date(2022, 2, 16), 'Excellent'),
 (datetime.date(2022, 2, 17), 'Excellent'),
 (datetime.date(2022, 2, 18), 'Excellent'),
 (datetime.date(2022, 2, 19), 'Good'),
 (datetime.date(2022, 2, 20), 'Excellent'),
 (datetime.date(2022, 2, 21), 'Excellent'),
 (datetime.date(2022, 2, 22), 'Excellent'),
 (datetime.date(2022, 2, 23), 'Excellent'),
 (datetime.date(2022, 2, 24), 'Excellent'),
 (datetime.date(2022, 2, 25), 'Excellent'),
 (datetime.date(2022, 2, 26), 'Poor'),
 (datetime.date(2022, 2, 27), 'Poor'),
 (datetime.date(2022, 2, 28), 'Excellent'),
 (datetime.date(2022, 2, 1), 'Excellent'),
 (datetime.date(2022, 2, 2), 'Excellent'),
 (datetime.date(2022, 2, 3), 'Excellent'),
 (datetime.date(2022, 2, 4), 'Poor'),
 (datetime.date(2022, 2, 5), 'Excellent'),
 (datetime.date(2022, 2, 6), 'Poor'),
 (datetime.date(2022, 2, 7), 'Excellent'),
 (datetime.date(2022, 2, 8), 'Excellent'),
 (datetime.date(2022, 2, 9), 'Excellent'),
 (datetime.date(2022, 2, 10), 'Excellent'),
 (datetime.date(2022, 2, 11), 'Excellent'),
 (datetime.date(2022, 2, 12), 'Excellent'),
 (datetime.date(2022, 2, 13), 'Excellent'),
 (datetime.date(2022, 2, 14), 'Excellent'),
 (datetime.date(2022, 2, 15), 'Excellent'),
 (datetime.date(2022, 2, 16), 'Excellent'),
 (datetime.date(2022, 2, 17), 'Excellent'),
 (datetime.date(2022, 2, 18), 'Excellent'),
 (datetime.date(2022, 2, 19), 'Good'),
 (datetime.date(2022, 2, 20), 'Excellent'),
 (datetime.date(2022, 2, 21), 'Excellent'),
 (datetime.date(2022, 2, 22), 'Excellent'),
 (datetime.date(2022, 2, 23), 'Excellent'),
 (datetime.date(2022, 2, 24), 'Excellent'),
 (datetime.date(2022, 2, 25), 'Excellent'),
 (datetime.date(2022, 2, 26), 'Poor'),
 (datetime.date(2022, 2, 27), 'Excellent'),
 (datetime.date(2022, 2, 28), 'Excellent'),
 (datetime.date(2022, 4, 1), 'Excellent'),
 (datetime.date(2022, 4, 2), 'Excellent'),
 (datetime.date(2022, 4, 3), 'Excellent'),
 (datetime.date(2022, 4, 4), 'Excellent'),
 (datetime.date(2022, 4, 5), 'Poor'),
 (datetime.date(2022, 4, 6), 'Poor'),
 (datetime.date(2022, 4, 7), 'Poor'),
 (datetime.date(2022, 4, 8), 'Good'),
 (datetime.date(2022, 4, 9), 'Good'),
 (datetime.date(2022, 4, 10), 'Excellent'),
 (datetime.date(2022, 4, 11), 'Excellent'),
 (datetime.date(2022, 4, 12), 'Excellent'),
 (datetime.date(2022, 4, 13), 'Excellent'),
 (datetime.date(2022, 4, 14), 'Excellent'),
 (datetime.date(2022, 4, 15), 'Excellent'),
 (datetime.date(2022, 4, 16), 'Excellent'),
 (datetime.date(2022, 4, 17), 'Excellent'),
 (datetime.date(2022, 4, 18), 'Excellent'),
 (datetime.date(2022, 4, 19), 'Excellent'),
 (datetime.date(2022, 4, 20), 'Excellent'),
 (datetime.date(2022, 4, 21), 'Poor'),
 (datetime.date(2022, 4, 22), 'Excellent'),
 (datetime.date(2022, 4, 23), 'Excellent'),
 (datetime.date(2022, 4, 24), 'Excellent'),
 (datetime.date(2022, 4, 25), 'Excellent'),
 (datetime.date(2022, 4, 26), 'Excellent'),
 (datetime.date(2022, 4, 27), 'Poor'),
 (datetime.date(2022, 4, 28), 'Poor'),
 (datetime.date(2022, 4, 29), 'Poor'),
 (datetime.date(2022, 4, 30), 'Excellent'),
 (datetime.date(2022, 4, 1), 'Excellent'),
 (datetime.date(2022, 4, 2), 'Excellent'),
 (datetime.date(2022, 4, 3), 'Excellent'),
 (datetime.date(2022, 4, 4), 'Excellent'),
 (datetime.date(2022, 4, 5), 'Poor'),
 (datetime.date(2022, 4, 6), 'Poor'),
 (datetime.date(2022, 4, 7), 'Poor'),
 (datetime.date(2022, 4, 8), 'Good'),
 (datetime.date(2022, 4, 9), 'Good'),
 (datetime.date(2022, 4, 10), 'Excellent'),
 (datetime.date(2022, 4, 11), 'Excellent'),
 (datetime.date(2022, 4, 12), 'Excellent'),
 (datetime.date(2022, 4, 13), 'Excellent'),
 (datetime.date(2022, 4, 14), 'Excellent'),
 (datetime.date(2022, 4, 15), 'Excellent'),
 (datetime.date(2022, 4, 16), 'Excellent'),
 (datetime.date(2022, 4, 17), 'Excellent'),
 (datetime.date(2022, 4, 18), 'Excellent'),
 (datetime.date(2022, 4, 19), 'Excellent'),
 (datetime.date(2022, 4, 20), 'Excellent'),
 (datetime.date(2022, 4, 21), 'Poor'),
 (datetime.date(2022, 4, 22), 'Excellent'),
 (datetime.date(2022, 4, 23), 'Excellent'),
 (datetime.date(2022, 4, 24), 'Excellent'),
 (datetime.date(2022, 4, 25), 'Excellent'),
 (datetime.date(2022, 4, 26), 'Excellent'),
 (datetime.date(2022, 4, 27), 'Poor'),
 (datetime.date(2022, 4, 28), 'Poor'),
 (datetime.date(2022, 4, 29), 'Poor'),
 (datetime.date(2022, 4, 30), 'Excellent'),
 (datetime.date(2022, 4, 1), 'Excellent'),
 (datetime.date(2022, 4, 2), 'Poor'),
 (datetime.date(2022, 4, 3), 'Excellent'),
 (datetime.date(2022, 4, 4), 'Excellent'),
 (datetime.date(2022, 4, 5), 'Poor'),
 (datetime.date(2022, 4, 6), 'Good'),
 (datetime.date(2022, 4, 7), 'Poor'),
 (datetime.date(2022, 4, 8), 'Poor'),
 (datetime.date(2022, 4, 9), 'Poor'),
 (datetime.date(2022, 4, 10), 'Good'),
 (datetime.date(2022, 4, 11), 'Excellent'),
 (datetime.date(2022, 4, 12), 'Good'),
 (datetime.date(2022, 4, 13), 'Excellent'),
 (datetime.date(2022, 4, 14), 'Excellent'),
 (datetime.date(2022, 4, 15), 'Excellent'),
 (datetime.date(2022, 4, 16), 'Excellent'),
 (datetime.date(2022, 4, 17), 'Excellent'),
 (datetime.date(2022, 4, 18), 'Excellent'),
 (datetime.date(2022, 4, 19), 'Excellent'),
 (datetime.date(2022, 4, 20), 'Excellent'),
 (datetime.date(2022, 4, 21), 'Excellent'),
 (datetime.date(2022, 4, 22), 'Good'),
 (datetime.date(2022, 4, 23), 'Excellent'),
 (datetime.date(2022, 4, 24), 'Excellent'),
 (datetime.date(2022, 4, 25), 'Excellent'),
 (datetime.date(2022, 4, 26), 'Excellent'),
 (datetime.date(2022, 4, 27), 'Good'),
 (datetime.date(2022, 4, 28), 'Good'),
 (datetime.date(2022, 4, 29), 'Excellent'),
 (datetime.date(2022, 4, 30), 'Good'),
 (datetime.date(2022, 3, 1), 'Poor'),
 (datetime.date(2022, 3, 2), 'Poor'),
 (datetime.date(2022, 3, 3), 'Poor'),
 (datetime.date(2022, 3, 4), 'Poor'),
 (datetime.date(2022, 3, 5), 'Poor'),
 (datetime.date(2022, 3, 6), 'Poor'),
 (datetime.date(2022, 3, 7), 'Good'),
 (datetime.date(2022, 3, 8), 'Excellent'),
 (datetime.date(2022, 3, 9), 'Excellent'),
 (datetime.date(2022, 3, 10), 'Poor'),
 (datetime.date(2022, 3, 11), 'Good'),
 (datetime.date(2022, 3, 12), 'Excellent'),
 (datetime.date(2022, 3, 13), 'Excellent'),
 (datetime.date(2022, 3, 14), 'Excellent'),
 (datetime.date(2022, 3, 15), 'Excellent'),
 (datetime.date(2022, 3, 16), 'Excellent'),
 (datetime.date(2022, 3, 17), 'Excellent'),
 (datetime.date(2022, 3, 18), 'Excellent'),
 (datetime.date(2022, 3, 19), 'Excellent'),
 (datetime.date(2022, 3, 20), 'Excellent'),
 (datetime.date(2022, 3, 21), 'Excellent'),
 (datetime.date(2022, 3, 22), 'Excellent'),
 (datetime.date(2022, 3, 23), 'Excellent'),
 (datetime.date(2022, 3, 24), 'Poor'),
 (datetime.date(2022, 3, 25), 'Excellent'),
 (datetime.date(2022, 3, 26), 'Excellent'),
 (datetime.date(2022, 3, 27), 'Excellent'),
 (datetime.date(2022, 3, 28), 'Excellent'),
 (datetime.date(2022, 3, 29), 'Excellent'),
 (datetime.date(2022, 3, 30), 'Excellent'),
 (datetime.date(2022, 3, 31), 'Excellent'),
 (datetime.date(2022, 3, 1), 'Poor'),
 (datetime.date(2022, 3, 2), 'Poor'),
 (datetime.date(2022, 3, 3), 'Poor'),
 (datetime.date(2022, 3, 4), 'Poor'),
 (datetime.date(2022, 3, 5), 'Poor'),
 (datetime.date(2022, 3, 6), 'Poor'),
 (datetime.date(2022, 3, 7), 'Good'),
 (datetime.date(2022, 3, 8), 'Excellent'),
 (datetime.date(2022, 3, 9), 'Good'),
 (datetime.date(2022, 3, 10), 'Poor'),
 (datetime.date(2022, 3, 11), 'Good'),
 (datetime.date(2022, 3, 12), 'Excellent'),
 (datetime.date(2022, 3, 13), 'Excellent'),
 (datetime.date(2022, 3, 14), 'Excellent'),
 (datetime.date(2022, 3, 15), 'Excellent'),
 (datetime.date(2022, 3, 16), 'Excellent'),
 (datetime.date(2022, 3, 17), 'Excellent'),
 (datetime.date(2022, 3, 18), 'Excellent'),
 (datetime.date(2022, 3, 19), 'Excellent'),
 (datetime.date(2022, 3, 20), 'Excellent'),
 (datetime.date(2022, 3, 21), 'Excellent'),
 (datetime.date(2022, 3, 22), 'Excellent'),
 (datetime.date(2022, 3, 23), 'Excellent'),
 (datetime.date(2022, 3, 24), 'Poor'),
 (datetime.date(2022, 3, 25), 'Excellent'),
 (datetime.date(2022, 3, 26), 'Excellent'),
 (datetime.date(2022, 3, 27), 'Good'),
 (datetime.date(2022, 3, 28), 'Excellent'),
 (datetime.date(2022, 3, 29), 'Excellent'),
 (datetime.date(2022, 3, 30), 'Excellent'),
 (datetime.date(2022, 3, 31), 'Excellent'),
 (datetime.date(2022, 3, 1), 'Good'),
 (datetime.date(2022, 3, 2), 'Poor'),
 (datetime.date(2022, 3, 3), 'Poor'),
 (datetime.date(2022, 3, 4), 'Poor'),
 (datetime.date(2022, 3, 5), 'Poor'),
 (datetime.date(2022, 3, 6), 'Excellent'),
 (datetime.date(2022, 3, 7), 'Good'),
 (datetime.date(2022, 3, 8), 'Good'),
 (datetime.date(2022, 3, 9), 'Excellent'),
 (datetime.date(2022, 3, 10), 'Poor'),
 (datetime.date(2022, 3, 11), 'Excellent'),
 (datetime.date(2022, 3, 12), 'Poor'),
 (datetime.date(2022, 3, 13), 'Excellent'),
 (datetime.date(2022, 3, 14), 'Excellent'),
 (datetime.date(2022, 3, 15), 'Excellent'),
 (datetime.date(2022, 3, 16), 'Excellent'),
 (datetime.date(2022, 3, 17), 'Excellent'),
 (datetime.date(2022, 3, 18), 'Good'),
 (datetime.date(2022, 3, 19), 'Good'),
 (datetime.date(2022, 3, 20), 'Excellent'),
 (datetime.date(2022, 3, 21), 'Excellent'),
 (datetime.date(2022, 3, 22), 'Excellent'),
 (datetime.date(2022, 3, 23), 'Excellent'),
 (datetime.date(2022, 3, 24), 'Excellent'),
 (datetime.date(2022, 3, 25), 'Good'),
 (datetime.date(2022, 3, 26), 'Excellent'),
 (datetime.date(2022, 3, 27), 'Excellent'),
 (datetime.date(2022, 3, 28), 'Excellent'),
 (datetime.date(2022, 3, 29), 'Excellent'),
 (datetime.date(2022, 3, 30), 'Excellent'),
 (datetime.date(2022, 3, 31), 'Excellent')]

### Show the records where the number of abandoned calls is above the average number of abandoned calls.

In [26]:
%%sql
select * from salla_data where calls_abandon > (select avg(calls_abandon) from salla_data);

 * mssql+pyodbc://AHMED\SQLEXPRESS/salla?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
Done.

[('Project A', datetime.date(2022, 2, 4), '22-Feb', 13002, 10883, 10614, 7376, 269, 51.20774459838867, 543519, 'Rania'),
 ('Project A', datetime.date(2022, 2, 26), '22-Feb', 12758, 13437, 12994, 7440, 443, 49.68308639526367, 645582, 'Dina'),
 ('Project B', datetime.date(2022, 2, 4), '22-Feb', 12718, 8843, 8635, 5974, 208, 51.92182922363281, 448345, 'Fatma'),
 ('Project B', datetime.date(2022, 2, 26), '22-Feb', 12477, 11418, 11046, 6252, 372, 50.335052490234375, 556001, 'Dina'),
 ('Project A', datetime.date(2022, 4, 7), 'Apr-22', 12847, 11176, 10939, 9383, 237, 36.48157967, 399072, 'Omar'),
 ('Project A', datetime.date(2022, 4, 27), 'Apr-22', 13093, 10756, 10579, 9435, 177, 21.48605728, 227301, 'Tariq'),
 ('Project A', datetime.date(2022, 4, 28), 'Apr-22', 12847, 9891, 9757, 8284, 134, 21.30316696, 207855, 'Rania'),
 ('Project A', datetime.date(2022, 4, 29), 'Apr-22', 10496, 8428, 8294, 6923, 134, 26.35254401, 218568, 'Hassan'),
 ('Project B', datetime.date(2022, 4, 7), 'Apr-22', 12559, 9319, 9130, 7802, 189, 37.52015334, 342559, 'Tariq'),
 ('Project B', datetime.date(2022, 4, 27), 'Apr-22', 12802, 8869, 8734, 7807, 135, 21.11564003, 184424, 'Mona'),
 ('Project B', datetime.date(2022, 4, 28), 'Apr-22', 12559, 8167, 8066, 6859, 101, 21.195636, 170964, 'Ahmed'),
 ('Project B', datetime.date(2022, 4, 29), 'Apr-22', 10277, 6825, 6722, 5582, 103, 26.98348706, 181383, 'Ahmed'),
 ('Project A', datetime.date(2022, 3, 1), 'Mar-22', 13389, 11747, 11596, 9291, 151, 17.83088996, 206767, 'Samir'),
 ('Project A', datetime.date(2022, 3, 2), 'Mar-22', 13134, 14735, 14092, 7895, 643, 65.1659807, 918319, 'Dina'),
 ('Project A', datetime.date(2022, 3, 3), 'Mar-22', 12545, 13946, 13256, 5411, 690, 76.14431201, 1009369, 'Rania'),
 ('Project A', datetime.date(2022, 3, 4), 'Mar-22', 9970, 11663, 10884, 7211, 779, 92.36052922, 1005252, 'Tariq'),
 ('Project A', datetime.date(2022, 3, 5), 'Mar-22', 12209, 14504, 13476, 6228, 1028, 102.7876224, 1385166, 'Youssef'),
 ('Project A', datetime.date(2022, 3, 6), 'Mar-22', 13843, 15328, 14652, 9230, 676, 67.76262626, 992858, 'Huda'),
 ('Project A', datetime.date(2022, 3, 7), 'Mar-22', 13585, 16324, 16223, 15445, 101, 6.535474327, 106025, 'Tariq'),
 ('Project A', datetime.date(2022, 3, 10), 'Mar-22', 12545, 10402, 10275, 9585, 127, 17.3426764, 178196, 'Khaled'),
 ('Project A', datetime.date(2022, 3, 24), 'Mar-22', 12545, 10378, 10197, 8564, 181, 18.47298225, 188369, 'Dina'),
 ('Project B', datetime.date(2022, 3, 1), 'Mar-22', 17117, 18438, 18071, 14792, 367, 16.39245199, 296228, 'Huda'),
 ('Project B', datetime.date(2022, 3, 2), 'Mar-22', 16778, 19001, 17785, 10398, 1216, 68.29080686, 1214552, 'Fatma'),
 ('Project B', datetime.date(2022, 3, 3), 'Mar-22', 16064, 18290, 16900, 6847, 1390, 79.14159763, 1337493, 'Youssef'),
 ('Project B', datetime.date(2022, 3, 4), 'Mar-22', 12818, 15270, 13785, 8615, 1485, 103.4519405, 1426085, 'Rania'),
 ('Project B', datetime.date(2022, 3, 5), 'Mar-22', 15654, 17965, 14864, 5868, 3101, 180.9033907, 2688948, 'Huda'),
 ('Project B', datetime.date(2022, 3, 6), 'Mar-22', 17684, 21739, 19805, 11749, 1934, 89.53850038, 1773310, 'Dina'),
 ('Project B', datetime.date(2022, 3, 7), 'Mar-22', 17370, 17701, 17475, 16504, 226, 7.083891273, 123791, 'Khaled'),
 ('Project B', datetime.date(2022, 3, 8), 'Mar-22', 17117, 16261, 16118, 15893, 143, 3.337634942, 53796, 'Ali'),
 ('Project B', datetime.date(2022, 3, 9), 'Mar-22', 16778, 15106, 14952, 14350, 154, 5.191546281, 77624, 'Ali'),
 ('Project B', datetime.date(2022, 3, 10), 'Mar-22', 16064, 17374, 16909, 15521, 465, 27.29167899, 461475, 'Nour'),
 ('Project B', datetime.date(2022, 3, 11), 'Mar-22', 12818, 13395, 13260, 12637, 135, 6.404524887, 84924, 'Mona'),
 ('Project B', datetime.date(2022, 3, 12), 'Mar-22', 15655, 15160, 15072, 15006, 88, 2.120886412, 31966, 'Omar'),
 ('Project B', datetime.date(2022, 3, 13), 'Mar-22', 17685, 14825, 14725, 14702, 100, 1.933378608, 28469, 'Sara'),
 ('Project B', datetime.date(2022, 3, 14), 'Mar-22', 17370, 14415, 14326, 14326, 89, 1.767974312, 25328, 'Hassan'),
 ('Project B', datetime.date(2022, 3, 16), 'Mar-22', 16778, 14304, 14211, 14204, 93, 1.893392442, 26907, 'Ali'),
 ('Project B', datetime.date(2022, 3, 17), 'Mar-22', 16064, 13611, 13494, 13462, 117, 2.040091893, 27529, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 18), 'Mar-22', 12818, 14427, 14319, 14155, 108, 2.430057965, 34796, 'Hassan'),
 ('Project B', datetime.date(2022, 3, 19), 'Mar-22', 15655, 14008, 13908, 13880, 100, 1.849439172, 25722, 'Samir'),
 ('Project B', datetime.date(2022, 3, 20), 'Mar-22', 17685, 15677, 15573, 15556, 104, 1.966544661, 30625, 'Mona'),
 ('Project B', datetime.date(2022, 3, 21), 'Mar-22', 17370, 16320, 16229, 16177, 91, 2.108694313, 34222, 'Mona'),
 ('Project B', datetime.date(2022, 3, 22), 'Mar-22', 17117, 14294, 14202, 14190, 92, 2.022461625, 28723, 'Laila'),
 ('Project B', datetime.date(2022, 3, 24), 'Mar-22', 16064, 30381, 29630, 22741, 751, 25.40988863, 752895, 'Dina'),
 ('Project B', datetime.date(2022, 3, 25), 'Mar-22', 12818, 15592, 15501, 15358, 91, 2.478743307, 38423, 'Tariq'),
 ('Project B', datetime.date(2022, 3, 26), 'Mar-22', 15655, 13821, 13732, 13716, 89, 1.88952811, 25947, 'Huda'),
 ('Project B', datetime.date(2022, 3, 27), 'Mar-22', 17685, 18343, 18200, 17873, 143, 5.091923077, 92673, 'Khaled'),
 ('Project B', datetime.date(2022, 3, 28), 'Mar-22', 17370, 18046, 17926, 17727, 120, 3.085574027, 55312, 'Rania'),
 ('Project B', datetime.date(2022, 3, 30), 'Mar-22', 16778, 16005, 15914, 15904, 91, 1.78886515, 28468, 'Mona'),
 ('Project B', datetime.date(2022, 3, 31), 'Mar-22', 16064, 16001, 15910, 15907, 91, 1.959773727, 31180, 'Tariq')]